<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- Modification du titre de l'onglet -->
    <title>{% block title %}Home{% endblock %}</title>  
  </head>
  <body>

    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenu de la barre de navigation -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <!-- Liens pour les utilisateurs connectés -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="home" href="/">Page d'accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patient" href="/patient">Ajouter un Patient</a>
                </li>
            {% endif %}
        </ul>

        <!-- Liens pour tous les utilisateurs (connectés et non connectés) -->
        <ul class="navbar-nav">
            <!-- Liens pour les utilisateurs connectés -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="logout" href="/logout">Déconnexion</a>
                </li>
            <!-- Liens pour les utilisateurs non connectés -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="login" href="/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signUp" href="/sign-up">Inscription</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Messages flash (succès ou erreur) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {%if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    {% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) 
      {
        fetch("/delete-note", 
        {
          method: "POST",                             // Envoi d'une requête POST au serveur
          body: JSON.stringify({ noteId: noteId }),   // Convertir l'ID de la note en format JSON et l'envoyer dans le corps de la requête
        }).then((_res) =>                             // Une fois que la requête est terminée
        {
          window.location.href = "/";                 // Recharger la page home pour afficher les mises à jour de la liste des notes            
        });
      }  
      
      // Fonction pour supprimer un patient en utilisant son ID
      // Même principe que la fonction deleteNote

      function deletePatient(patientId) {
        fetch("/delete-patient", {
          method: "POST",
          body: JSON.stringify({ patientId: patientId }),
        }).then((_res) => {
          window.location.href = "/"; // Vous pouvez rediriger vers une autre page après la suppression si nécessaire.
        });
      }
    </script>
    {% endblock %}
  </body>
</html>
