{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Patients</h1>
            {% if patients %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Âge</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr>
                                <td>{{ patient.Nom }}</td>
                                <td>{{ patient.Prenom }}</td>
                                <td>{{ patient.DateNaissance }}</td>
                                <td>{{ patient.Age }} ans</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a pas de patient enregistré.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>Notes</h1>
            <ul class="list-group list-group-flush" id="notes">
                {% for note in user.notes %}
                    <li class="list-group-item">{{ note.data }}
                        <button type="button" class="close" onclick="deleteNote({{note.id}})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            <form method="POST">
                <textarea name="note" id="note" class="form-control"></textarea>
                <br />
                <div align="center">
                    <button type="submit" class="btn btn-primary">ajouter une note</button>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
{% endblock %}
