{% extends "base.html" %} {% block title %}Patient{% endblock %}

{% block content %}
<h1 align="center">Patients</h1>  <!-- Titre principal de la page -->

<!-- Formulaire pour ajouter un nouveau patient -->
<form method="POST" action="{{ url_for('views.add_patient') }}">  
    <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" name="nom" required>
    </div>
    <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" id="prenom" name="prenom" required>
    </div>
    <div class="form-group">
        <label for="date_naissance">Date de naissance :</label>
        <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
    </div>
    <div class="form-group">
        <label for="remarque">Remarque :</label>
        <input type="text" class="form-control" id="remarque" name="remarque">
    </div>
    <div class="form-group">
        <label for="pathologie">Pathologie :</label>
        <input type="text" class="form-control" id="pathologie" name="pathologie">
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Ajouter un patient</button>
    </div>
</form>

{% endblock %}